version: "3.8"

services:
  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: task_optimizer
    ports:
      - "5678:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
